:root {
  --mainBrown: #2d1e1f;
  --mainYellow: rgb(255, 158, 9);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

.main {
  /* max-width: 1600px; */
  margin: 0 auto;
  padding: 0 0em 0em;
}

/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.subtitle {
  padding-left: 1em;
  color: var(--mainWhite);
  display: flex;
  letter-spacing: .67rem !important;
  padding-left: 1.4rem;
  padding-top: 0;
  margin-top: -1.8rem;
}

.price {
  color: var(--mainYellow);
}

.text-yellow {
  color: var(--mainYellow);
}

.mail-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.default-background,
kontakt-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
}

.kontakt-background {
  min-height: 50vh;
}

.btn-yellow,
.btn-yellow-white-bg {
  color: var(--mainDark);
  border-color: var(--mainDark);
  background: var(--mainGrey);
  padding: 10px 25px;
}

.btn-yellow-white-bg {
  background: var(--mainWhite);
}

.btn-yellow:hover {
  background: var(--mainDark);
  color: var(--mainBrown);
}

.footer {
  background: var(--mainBrown);
}

.menu,
.contact {
  background: var(--mainWhite);
}

.product-title {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(201, 201, 201, 0.5), rgba(216, 213, 209, 0.5));
  background-position: center;
  background-size: cover;
}

.logo {
  padding: 1em;
  height: 100px;
  width: auto;
}

.container-btn {
  justify-content: space-between;
  flex-direction: column;
  /* height: 100vh; */
  display: flex;
  padding: 10px;
}

.container-btn .btn-holder {
  justify-content: flex-end;
  display: flex;
}

.container-btn .btn-holder button {
  /* background: blue; */
}

/* NAVBAR start */
/* lOGO */
.navbar-header {
  float: none;
  width: 100%;
  height: calc(100%-60px);

  background-color: #000000;

}

.navbar-nav li a:hover,
.navbar-nav>.active a {
  color: #fff !important;
  background-color: var(--mainDark) !important;
  background-image: none !important;
  justify-content: space-evenly;
}

.navbar-nav ul {
  border: 1px solid rgb(212, 20, 20);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-container {
  border: 1px solid var(--mainDark);

}

.containernav {
  display: flex;
  width: 100%;
  /* background-color: #white; */
}

.d-flex {
  flex-basis: 50%;
  justify-content: flex-start;

}


/* NAVBAR END */
.descriptiontxt {
  max-width: 600px;
  margin: 0 auto 20px;
}

.panel-footer.panel-custom {
  background: var(--mainBrown);
  color: var(--mainYellow);
}

.footer-link {
  color: var(--mainWhite);
}

.footer-link:hover {
  color: var(--mainGrey)
}

.main-link {
  color: var(--mainYellow);
}

.main-link:hover {
  color: var(--mainGrey)
}

.btn-floating {
  font-size: xx-large;
  margin: 0 0.6rem;
}



.services-icons {
  list-style-type: none;
}

a {
  color: var(--mainYellow);
  display: inline-block;
  width: 100%;
  text-decoration: none;
  letter-spacing: 2px;

  /* padding: ; */

}

a:hover {
  color: var(--mainWhite);
}

.buybtn:hover {
  color: var(--mainWhite);
}

.lbrown-btn {
  color: var(--mainYellow);
}