:root {
  --mainBrown: #2d1e1f;
  --mainYellow: rgb(255, 158, 9);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.subtitle {
  padding-left: 1em;
  color: var(--mainBrown);
  display: inline;
}

.price {
  color: var(--mainYellow);
}

.text-yellow {
  color: var(--mainYellow);
}

.mail-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.default-background,
kontakt-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
}

.kontakt-background {
  min-height: 50vh;
}

.btn-yellow,
.btn-yellow-white-bg {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
  background: var(--mainGrey);
  padding: 10px 25px;
}

.btn-yellow-white-bg {
  background: var(--mainWhite);
}

.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown);
}

.footer {
  background: var(--mainBrown);
}

.menu,
.contact {
  background: var(--mainGrey);
}

.product-title {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
}

.logo {
  padding: 1em;
  height: 70px;
}

.container-btn {
  justify-content: space-between;
  flex-direction: column;
  /* height: 100vh; */
  display: flex;
  padding: 10px;
}

.container-btn .btn-holder {
  justify-content: flex-end;
  display: flex;
}

.container-btn .btn-holder button {
  /* background: blue; */
}

.navbar-nav li a:hover,
.navbar-nav>.active a {
  color: #fff !important;
  background-color: var(--mainYellow) !important;
  background-image: none !important;
}

.descriptiontxt {
  max-width: 600px;
  margin: 0 auto 20px;
}

.panel-footer.panel-custom {
  background: var(--mainBrown);
  color: var(--mainYellow);
}

.footer-link {
  color: var(--mainWhite);
}

.footer-link:hover {
  color: var(--mainGrey)
}

.main-link {
  color: var(--mainYellow);
}

.main-link:hover {
  color: var(--mainBrown)
}

.btn-floating {
  font-size: xx-large;
  margin: 0 0.6rem;
}

.navbar-header {
  float: none;
  width: 100%;
  height: calc(100%-60px);
}

.nav-item {
  /* width: calc(100% - 60px); */

  margin-right: 10rem;
}

@media (min-width: 768px) {
  .navbar-nav {
    margin: 0 0rem;
    /* display: table; */
    /* table-layout: fixed; */
    float: none;
  }
}

.services-icons {
  list-style-type: none;
}

a {
  color: var(--mainYellow);
}

a:hover {
  color: var(--mainWhite);
}

.buybtn:hover {
  color: var(--mainWhite);
}